@model IEnumerable<Ictshop.Models.Role>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quyền truy cập</h2>

<p>
    @Html.ActionLink("Thêm mới quyền", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Tên Quyền
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RoleID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoleName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.RoleID }) 
        @*@Html.ActionLink("Chi tiết", "Details", new { id = item.RoleID }) |
        @Html.ActionLink("Xoá", "Delete", new { id = item.RoleID })*@
    </td>
</tr>
}

</table>
