@model IEnumerable<Ictshop.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Category Management</h2>

<button class="btn btn-outline-dark">
    @Html.ActionLink("New Category", "Create")
</button>
<table class="table">
    <tr>
        <th>
           Category ID
        </th>
        <th>
            Category Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CateID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CateName)
    </td>
    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.CateID }) |
        @Html.ActionLink("Chi tiết", "Details", new { id = item.CateID }) |
        @Html.ActionLink("Thêm mới ", "Delete", new { id = item.CateID })
    </td>
</tr>
}

</table>
