@{
    ViewBag.Title = "ONLINE SHOP";

}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<br />
<div class="row">
    <div class="col-md-12">
        @Html.Action("SlidePartial", "Home")
    </div>

</div>


<br />
<div class="spnoibat">
    <div class="row">

        <h3>New Product </h3>
        @foreach (var item in @ViewBag.NewProducts)
        {
            <div class="col-md-4">
                <img src="@Url.Content("~/Images/"+item.Image)" class="img-responsive" alt="no image" />
                <a href="@Url.Action("xemchitiet","Product", new {@ProductID=item.ProductID })">Xem chi tiết</a>
            </div>
        }
    </div>
</div>
<div class="danhmuc">
    @Html.Action("BrandPartial", "Brand")
</div>
<div class="dt">
    @Html.Action("dtiphonePartial", "Product")
</div>
@*<div class="dt">
    @Html.Action("dtsamsungpartial", "Product")
</div>

<div class="dt">
    @Html.Action("dtxiaomipartial", "Product")
</div>*@

<div class="row">
    <h2> Tin tức sản phẩm</h2>
    <div class="col-md-8">
        Video
    </div>
    <div class="col-md-4">
        Tin tức
    </div>
</div>

