@model IEnumerable<Ictshop.Models.Function>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>
    @Html.Action("ListRoles", "Authorization")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FunctionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuctionName)
        </th>
        <th>
            <a>Permisson</a>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FunctionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuctionName)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FunctionCode }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FunctionCode }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FunctionCode })
                </td>*@
            <td>
                <input type="checkbox" checked>
            </td>
        </tr>
    }
</table>
<button style="border-radius:10px" class="btn-primary" type="button">Save your change</button>
