@model IEnumerable<Ictshop.Models.Function>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>
@Html.Action("ListRoles", "Authorization")

<form action="/Admin/Authorization/UpdateRole" method="post">
    <input type="hidden" name="RoleID" value="@ViewBag.RoleID"/>  
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FunctionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuctionName)
            </th>
            <th>
                <a for="FunctionCode">Permisson</a>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FunctionCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FuctionName)
                </td>
                <td>
                    @if (@ViewBag.ListPermissonByRoleID != null)
                    {
                        <input 
                           @foreach (var data in @ViewBag.ListPermissonByRoleID) { 
                               @(data.FunctionCode.Equals(item.FunctionCode) ? "checked" : "") 
                             
                           }  name="FunctionCode" type="checkbox" value="@item.FunctionCode">
                    }                  
                    </td>
            </tr>
        }
    </table>
    <button onclick="alertSuccess()" style="border-radius:10px" class="btn-primary" type="submit">Save your change</button>
    <script>
        function alertSuccess() {
            alert("Change successfully!")
        }
    </script>
</form>



