@model IEnumerable<Ictshop.Models.Brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Brand Management</h2>
<form action="@Url.Action("Index", "Brands")" id="search-form" >
    <div id="search-autocomplete" class="form-outline">
        <input type="search" id="txt-search" class="form-control" name="name"
               value="@ViewBag.searchName" oninput="LoadData()"/>
        <label class="form-label" for="form1"> Search </label>
        <i class="fas fa-search"></i>
    </div>
</form>
<p>
    @Html.ActionLink("Create", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Brand ID
        </th>
        <th>
            Brand Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BrandID }) |
                @Html.ActionLink("Detail", "Details", new { id = item.BrandID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BrandID })
            </td>
        </tr>
    }

</table>

<script>

    function LoadData() {
        @*window.location.href = "Admin/Brands/Index";*@
        $("#search-form").submit();
    }
</script>