@using Ictshop.Models;
@model List<Cart>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
<h2 class=""> Your Cart <i class="fa fa-shopping-cart"></i></h2>
<br />

@if (Session["GioHang"] != null)
{
    using (Html.BeginForm("CapNhatGioHang", "Cart", FormMethod.Post))
    {
        <div>
            <table class=" table-bordered table">
                <tr style="background-color: white ">
                    <th> Product ID</th>
                    <th> ProductName </th>
                    <th> Image </th>
                    <th> UnitPrice </th>
                    <th> Quantity </th>
                    <th> Total </th>
                    <th> Action </th>
                </tr>
                @foreach (var item in (List<Cart>)Session["GioHang"])
                {
                    <tr class="font-italic">
                        <td>@item.cProID</td>
                        <td>@item.cProName</td>
                        <td><img src="@Url.Content("~/Images/" +item.cProImage)" width="50" height="50" /></td>
                        <td>@String.Format("{0:0,0}", item.cProPrice) VNĐ</td>
                        <td>
                            <input min="1" type="number" name="quantity" value="@item.cProQuantity" />
                        </td>
                        <td>@String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>
                        <td> <button class="btn-success">@Html.ActionLink("Xóa", "XoaGioHang", new { @cProID = item.cProID })</button></td>
                    </tr>

                }
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="submit" class="btn-success">Update</button>
                    </td>
                    <td>
                        @Html.ActionLink("Order Now", "DatHang")
                    </td>
                    <td>Total</td>
                    <td>
                        @String.Format("{0:0,0}", @ViewBag.TotalPrice) VND
                    </td>
                </tr>
            </table>
        </div>
    }
}
else
{

    <h3>No items in your cart!</h3>

}
<style type="text/css">
    .divGioHang {
        border: 2px solid #EEEEEE;
        margin-left: 10%;
        font-size: large
    }

        .divGioHang td {
            padding: 10px;
            border: 2px solid #EEEEEE;
            text-align: center
        }

        .divGioHang th {
            text-align: center
        }
</style>
