@using Ictshop.Models;
@model List<Cart>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2 class=""> Your Cart <i class="fa fa-shopping-cart"></i></h2>
<br />
<div>
    <table class=" table-bordered table">
        <tr style="background-color: #03dffc ">
            <th> Product ID</th>

            <th> ProductName </th>

            <th> Image </th>

            <th> UnitPrice </th>

            <th> Quantity </th>

            <th> Total </th>
        </tr>



        @foreach (var item in Model)
        {
            <tr class="font-italic">
                <td> @item.cProID</td>

                <td> @item.cProName</td>

                <td> <img src="@Url.Content("~/Images/" +item.cProImage)" width="50" height="50" /></td>

                <td>  @String.Format("{0:0,0}", item.cProPrice) VNĐ</td>

                <td> @item.cProQuantity</td>

                <td>   @String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>


            </tr>

        }

    <tr>
        <td></td>
        <td></td>
        <td>
            @Html.ActionLink("Chỉnh sửa giỏ hàng", "EditCart")
        </td>
        <td>
            @using (Html.BeginForm("DatHang", "Cart", new { @class = "" }))
            {
                <input type="submit" value="Đặt hàng" class="btn-danger" />
            }
        </td>
        <td>Total</td>
        <td>
            @String.Format("{0:0,0}", @ViewBag.TotalPrice) VND
           
        </td>
        

    </tr>
    </table>
</div>

@*Css giỏ hàng*@
<style type="text/css">
    .divGioHang {
        border: 2px solid #EEEEEE;
        margin-left: 10%;
        font-size:large
    }

    .divGioHang td {
            padding: 10px;
            border: 2px solid #EEEEEE;
            text-align:center
    }
        
    .divGioHang th{
            text-align:center
       }
</style>